@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 11px;
}

.p-button {
  background-color: #ffffff14 !important;
  color: #fff !important;
  border: none !important;
}

.wrapper {
  padding: 0 32px;
}
